
.body{
  background-image: url(../src/img/photo-1537884631310-061c11097503.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.app-container{
  padding-top: 50px;
  padding-bottom: 19px;
  }
  .app-row{
      height: 90.2vh;
  }
  .color-slid{
      background-color: #fff;
      height: 100%;
      border-radius: 20px;
      padding: 25px 15px;
  }
  .color-main{
      background-color: #fff;
      border-radius: 20px;
      padding: 25px 15px;
  
}
